<!doctype html>
<html>
	<head>
		<% include ./_header.ejs %>
	</head>
	<body>
		<main class="wrapper">
			<% include ./_navBar.ejs %>

			<section class="container">
				<h2 class="title">Example View</h2>
                <p><%= msg %></p>
			</section>

			<% include ./_footer.ejs %>

		</main>
	</body>
</html>
